---
- name: Restart jackd
  hosts: sprawl_nodes
  gather_facts: false
  tasks:
    - name: Restart jackd service
      ansible.builtin.systemd:
        # daemon_reload: true
        service: jackd.service
        state: restarted
        scope: user
      become: false
